In [ ]:
import pandas as pd
import json
import os

In [7]:
# список со всеми данными
dAll = []

# путь к файлам с json
pathJson = r"W:\iMQ\Projects\_PROJECTS\Lenta\19-089577_Lenta Segmentation\4. DATA\Receipts from coding\JSON_READY"


def getData(path: str):
    with open(path, "r", encoding="utf8") as f:
        file_content = os.path.getsize(path)
        # Проверяем, не пустой ли файл
        if file_content > 0:
            dJson = json.load(f)
            dJson["filename"] = os.path.splitext(os.path.basename(path))[0]
            dJson1 = {k: v for k, v in dJson.items() if k != "products"}

            for d in dJson["products"]:
                dJson1.update(d)
                dAll.append(dJson1.copy())
        else:
            print(path)


# прохожусь по всем файлам и собираю json в единый словарь
with os.scandir(pathJson) as it:
    for entry in it:
        if entry.is_file(follow_symlinks=False) and entry.name.endswith(".json"):
            getData(entry.path)

# конвертирую в панду
df = pd.DataFrame(dAll)
df.head()

W:\iMQ\Projects\_PROJECTS\Lenta\19-089577_Lenta Segmentation\4. DATA\Receipts from coding\JSON_READY\20519cf_11.json
W:\iMQ\Projects\_PROJECTS\Lenta\19-089577_Lenta Segmentation\4. DATA\Receipts from coding\JSON_READY\20519cf_12.json
W:\iMQ\Projects\_PROJECTS\Lenta\19-089577_Lenta Segmentation\4. DATA\Receipts from coding\JSON_READY\20598bf_6.json
W:\iMQ\Projects\_PROJECTS\Lenta\19-089577_Lenta Segmentation\4. DATA\Receipts from coding\JSON_READY\20602df_13.json
W:\iMQ\Projects\_PROJECTS\Lenta\19-089577_Lenta Segmentation\4. DATA\Receipts from coding\JSON_READY\20681d0_12.json
W:\iMQ\Projects\_PROJECTS\Lenta\19-089577_Lenta Segmentation\4. DATA\Receipts from coding\JSON_READY\20700d7_2.json
W:\iMQ\Projects\_PROJECTS\Lenta\19-089577_Lenta Segmentation\4. DATA\Receipts from coding\JSON_READY\215ad42_5.json
W:\iMQ\Projects\_PROJECTS\Lenta\19-089577_Lenta Segmentation\4. DATA\Receipts from coding\JSON_READY\215b4a7_3.json
W:\iMQ\Projects\_PROJECTS\Lenta\19-089577_Lenta Segmentation\4. DATA\Receipts from coding\JSON_READY\227b439_15.json
W:\iMQ\Projects\_PROJECTS\Lenta\19-089577_Lenta Segmentation\4. DATA\Receipts from coding\JSON_READY\227b439_5.json

,date,shopName,shopAddress,totalSum,filename,category,name,quantity,price,sum
0,20.01.20 12:38,Пятёрочка,Белорусская ул. 21 • Тольятти,63.00,20007d0_4,Овощи и фрукты,Бананы 1кг,0.58,67.99,39.43
1,20.01.20 12:38,Пятёрочка,Белорусская ул. 21 • Тольятти,63.00,20007d0_4,Хлеб,КР.КАР.Батон с мол.нар.250г,1.00,23.99,23.99
2,21.01.20 12:34,Магнит,ул. 70 лет Октября 90 • Тольятти,147.35,20007d0_5,Бакалея,ЗОЛОТАЯ СЕМЕЧКА Масло подсол. раф,1.00,55.90,55.90
3,21.01.20 12:34,Магнит,ул. 70 лет Октября 90 • Тольятти,147.35,20007d0_5,Бакалея,MAGGI НА ВТОРОЕ Смесь для кебаба 2,1.00,28.50,28.50
4,21.01.20 12:34,Магнит,ул. 70 лет Октября 90 • Тольятти,147.35,20007d0_5,Хлеб,ФИТНЕСЛАЙН Хлебцы витамин плюс 100,1.00,32.90,32.90

In [8]:
df.dtypes

date            object
shopName        object
shopAddress     object
totalSum       float64
filename        object
category        object
name            object
quantity       float64
price          float64
sum            float64
dtype: object

In [9]:
def mem_usage(pandas_obj):
    if isinstance(pandas_obj,pd.DataFrame):
        usage_b = pandas_obj.memory_usage(deep=True).sum()
    else: # предположим, что если это не датафрейм, то серия
        usage_b = pandas_obj.memory_usage(deep=True)
    usage_mb = usage_b / 1024 ** 2 # преобразуем байты в мегабайты
    usage_kb = usage_b / 1024 # преобразуем байты в килобайты
    return "{:03.2f} KB".format(usage_kb)

In [10]:
mem_usage(df)

'20220.87 KB'

In [12]:
# for col in ['quantity','price','sum']:
#    df[col] = pd.to_numeric(df[col])
df['quantity'] = df['quantity'].astype('uint8')
df.dtypes

date            object
shopName        object
shopAddress     object
totalSum       float64
filename        object
category        object
name            object
quantity         uint8
price          float64
sum            float64
dtype: object

In [13]:
mem_usage(df)

'20004.47 KB'

In [14]:
# выполняем понижающее преобразование 
# для столбцов типа int
df_int = df.select_dtypes(include=['int'])
converted_int = df_int.apply(pd.to_numeric,downcast='unsigned')

print(mem_usage(df_int))
print(mem_usage(converted_int))

compare_ints = pd.concat([df_int.dtypes,converted_int.dtypes],axis=1)
compare_ints.columns = ['before','after']
compare_ints.apply(pd.Series.value_counts)

0.12 KB
0.12 KB

Empty DataFrame
Columns: [before, after]
Index: []

In [15]:
# выполняем понижающее преобразование 
# для столбцов типа float
df_float = df.select_dtypes(include=['float'])
converted_float = df_float.apply(pd.to_numeric,downcast='float')

print(mem_usage(df_float))
print(mem_usage(converted_float))

compare_floats = pd.concat([df_float.dtypes,converted_float.dtypes],axis=1)
compare_floats.columns = ['before','after']
compare_floats.apply(pd.Series.value_counts)

742.04 KB
371.08 KB

         before  after
float32     NaN    3.0
float64     3.0    NaN

In [16]:
# создаем копию исходного датафрейма
optimized_df = df.copy()

# заменяем исходные числовые столбцы
# оптимизированными
optimized_df[converted_int.columns] = converted_int
optimized_df[converted_float.columns] = converted_float

# смотрим использование памяти
print(mem_usage(df))
print(mem_usage(optimized_df))
optimized_df.dtypes

20004.47 KB
19633.52 KB

date            object
shopName        object
shopAddress     object
totalSum       float32
filename        object
category        object
name            object
quantity         uint8
price          float32
sum            float32
dtype: object

In [17]:
optimized_df.describe()

           totalSum      quantity         price           sum
count  31655.000000  31655.000000  31655.000000  31655.000000
mean    1275.639526      1.155078     90.306908     88.040207
std     2461.645996      1.980649    211.228333    214.827789
min        0.000000      0.000000      0.000000      0.000000
25%      336.824997      1.000000     26.900000     29.900000
50%      643.250000      1.000000     49.990002     52.000000
75%     1320.069946      1.000000     99.000000     99.000000
max    30660.000000    200.000000  13999.000000  13999.000000

In [18]:
# смотрим количество уникальных значений
# по каждому столбцу типа object
df_obj = optimized_df.select_dtypes(include=['object']).copy()
df_obj.describe()

,date,shopName,shopAddress,filename,category,name
count,31655,31655,31655,31655,31655,31655
unique,3870,1045,2954,4884,28,20266
top,25.01.20 15:02,Пятёрочка,•,227d9e5_16,Овощи и фрукты,Пакет ПЯТЕРОЧКА 65х40см
freq,165,5038,446,158,4274,220

In [19]:
converted_obj = pd.DataFrame()

# пишем цикл, которой перебирает каждый столбец object, 
# проверяет его на соответствие заданному порогу 
# (количество уникальных значений должно быть меньше 50% 
# от общего количества значений), и если столбец 
# удовлетворяет порогу, преобразовывает его в тип category
for col in df_obj.columns:
    num_unique_values = len(df_obj[col].unique())
    num_total_values = len(df_obj[col])
    if num_unique_values / num_total_values < 0.5:
        converted_obj.loc[:,col] = df_obj[col].astype('category')
    else:
        converted_obj.loc[:,col] = df_obj[col]

In [20]:
# снова применяем функцию mem_usage, смотрим,
# сколько памяти занимают все столбцы типа object
# до и после преобразования в тип category
print(mem_usage(df_obj))
print(mem_usage(converted_obj))

compare_obj = pd.concat([df_obj.dtypes,converted_obj.dtypes],axis=1)
compare_obj.columns = ['before','after']
compare_obj.apply(pd.Series.value_counts)

23707.11 KB
7982.62 KB

          before  after
object       6.0      1
category     NaN      1
category     NaN      1
category     NaN      1
category     NaN      1
category     NaN      1

In [21]:
# смотрим, сколько памяти использует датафрейм
# после оптимизации типов
optimized_df[converted_obj.columns] = converted_obj
print(optimized_df.dtypes)
print(mem_usage(optimized_df))

date           category
shopName       category
shopAddress    category
totalSum        float32
filename       category
category       category
name             object
quantity          uint8
price           float32
sum             float32
dtype: object
8384.49 KB

In [22]:
# смотрим, сколько памяти использует
# столбец date
date = optimized_df.date
print(mem_usage(date))
date.head()

490.28 KB

0    20.01.20 12:38
1    20.01.20 12:38
2    21.01.20 12:34
3    21.01.20 12:34
4    21.01.20 12:34
Name: date, dtype: category
Categories (3870, object): [03.01.20 11:27, 03.01.20 12:42, 03.01.20 18:38, 04.01.20 14:53, ..., 28.01.20 15:40, 28.01.20 15:48, 28.12.19 14:14, 31.12.19 17:15]

In [23]:
# преобразуем столбец 
# date в тип datetime 
optimized_df['date'] = pd.to_datetime(date,format='%d.%m.%y %H:%M')

# смотрим, сколько памяти использует
# столбец date
print(mem_usage(optimized_df))

8146.39 KB

In [24]:
# создаем словарь, в котором ключами будут имена
# столбцов, а значениями - типы столбцов
dtypes = optimized_df.drop('date',axis=1).dtypes

dtypes_col = dtypes.index
dtypes_type = [i.name for i in dtypes.values]

column_types = dict(zip(dtypes_col, dtypes_type))

import pprint
pp = pp = pprint.PrettyPrinter(indent=4)
pp.pprint(column_types)

{   'category': 'category',
    'filename': 'category',
    'name': 'object',
    'price': 'float32',
    'quantity': 'uint8',
    'shopAddress': 'category',
    'shopName': 'category',
    'sum': 'float32',
    'totalSum': 'float32'}

In [25]:
print(mem_usage(df))
print(mem_usage(optimized_df))

24479.94 KB
8146.39 KB

In [26]:
optimized_df.dtypes

date           category
shopName       category
shopAddress    category
totalSum        float32
filename       category
category       category
name             object
quantity          uint8
price           float32
sum             float32
dtype: object

In [ ]:
import pyreadstat

In [ ]:
pyreadstat.write_sav(optimized_df.drop(["name","date"], axis=1), r"O:\Progs\Python\jsonToSav\data\spss1.sav")

In [ ]:
pyreadstat.write_sav(df, r"O:\Progs\Python\jsonToSav\data\spss1_df.sav")

In [ ]:
import savReaderWriter as srw
# records = optimized_df.drop(["name","date"], axis=1).values.tolist()
records = optimized_df.values.tolist()

In [ ]:
varTypes = {}
for col in optimized_df.columns:
    if str(optimized_df[col].dtype) == 'object':
        varTypes[col] = 1024
    elif 'date' in str(optimized_df[col].dtype):
        varTypes[col] = 0
    else:
        varTypes[col] = 0

varTypes
# del varTypes['name']
# del varTypes['date']
#varTypes

In [ ]:
colsSave = list(optimized_df.columns)
colsSave
# colsSave.remove('name')
# colsSave.remove('date')
# colsSave

In [ ]:
with srw.SavWriter(r"O:\Progs\Python\jsonToSav\data\spss.sav", colsSave, varTypes) as writer:
    for record in records:
        writer.writerow(record)

In [ ]:
vals = {}
for col in optimized_df.columns:
    if str(optimized_df[col].dtype) == 'category':
        optimized_df[col].cat.categories = [x[:30] for x in optimized_df[col].cat.categories]
        vals[col] = {i:x[:30] for i, x in enumerate(optimized_df[col].cat.categories)}
vals

In [ ]:
optimized_df.to_csv(r"O:\Progs\Python\jsonToSav\data\odf.txt", sep="\t", index=False)

In [ ]:
s = "02.08.18 14:13"
s

In [ ]:
b = s.encode()
b

In [ ]:
optimized_df['dateB'] = optimized_df['date'].astype('str')
optimized_df.head()

In [ ]:
optimized_df.dtypes